@font-face {
	font-family: "icon-font";
	src: url('../fonts/icon-font.eot');
	src: url('../fonts/icon-font.eot?#iefix') format('eot'), url('../fonts/icon-font.woff') format('woff'), url('../fonts/icon-font.ttf') format('truetype'), url('../fonts/icon-font.svg#icon-font') format('svg');
}

.icon-desktop:before,
.icon-menu-close:before,
.icon-menu:before,
.icon-mobile:before,
.icon-submenu-down:before,
.icon-submenu-right:before,
.icon-world:before,
header h1:before,
.nav-button:before,
.nav-close:before,
.nav .nav-submenu > a:after,
.nav > ul > .nav-submenu > a:after {
	font-family: "icon-font";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: none;
	text-transform: none;
	vertical-align: top;
}

.icon-desktop:before {
	content: "\E001";
}

.icon-menu-close:before {
	content: "\E002";
}

.icon-menu:before {
	content: "\E003";
}

.icon-mobile:before {
	content: "\E004";
}

.icon-submenu-down:before {
	content: "\E005";
}

.icon-submenu-right:before {
	content: "\E006";
}

.icon-world:before {
	content: "\E007";
}


.nav-button,
.nav-close {
	position: fixed;
	top: 0;
	width: 30px;
	height:80px;
	padding:0 12px;
	overflow: hidden;
	z-index: 902;
	cursor: pointer;
	text-decoration: none;
	line-height: 80px;
	color: #333;
}

.nav-button:before,
.nav-close:before {
	display: block;
	text-align: center;
}

.nav-button {
	display: block;
	right: 0;
	font-size: 20px;
}
.bar1, .bar2, .bar3 {
	width: 24px;
	height: 3px;
	background-color: #eee;
	margin: 8px 0;
	transition: 0.4s;
}
.bar1{
	margin-top:28px;
}
.nav-lock-scroll .bar1 {
	-webkit-transform: rotate(-45deg) translate(-8px, 7px);
	transform: rotate(-45deg) translate(-8px, 7px);
}

.nav-lock-scroll .bar2 {opacity: 0;}
  
.nav-lock-scroll .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}



.nav-close{
	display: none;
	right: 4rem;
	font-size: 20px;
}

.nav-close:before {
	content: "\E002";
}

.nav{
	padding-top:80px;
	line-height:60px;
	color: #A69A94;
}

.nav ul{
	background:#333;
}
.nav > ul{
	border-bottom:1px solid #d2d2d2;
}
.nav ul ul {
	background: #444;
}

.nav ul ul ul {
	background: #555;
}

.nav ul ul ul ul {
	background: #000;
}

.nav ul ul ul ul ul {
	background: #000;
}

.nav li {
	border-top: 0;
	cursor: pointer;
}

.nav li:hover > a,
.nav li.nav-active > a {
	background:#265fa6;
	color:#fff;
}

.nav li.onthis,.nav li > li.onthis{
	background:#265fa6;
}
.nav li.onthis > a,.nav li > li.onthis > a,.nav > ul > li.onthis > a:after{
	color:#fff;
}

.nav .nav-submenu > ul {
	margin-left: 0;
}

.nav .nav-submenu > a {
	padding-right: 30px !important;
}

.nav a,
.nav a:hover,
.nav a:active,
.nav a:visited {
	padding: 0 20px 0 20px;
	color: #fff;
	text-decoration: none;
	font-size:15px;
	vertical-align: middle;
}

.nav .nav-submenu > a:after {
	position: absolute;
	display: block;
	right: 12px;
	top: 1px;
	content: "\E005";
	font-size:14px;
	color:#fff;
}
.nav li:hover > a:after, .nav li.nav-active > a:after{
	color:#fff;
}
.nav > ul > li > ul a{
	line-height:46px;
	font-weight: normal;
	font-size:14px;
	color:#aaa;
}
.nav > ul > li > ul a:hover,.nav > ul > li > ul a:active,.nav > ul > li > ul a:visited{
	font-size:14px;
}
@media only screen and (min-width: 768px) and (max-width:899px) {
	.nav-button,.nav-close {
		height:80px;
		line-height: 80px;
	}
	.nav{
		padding-top:80px;
	}
}
@media only screen and (min-width: 900px) {

	.nav-button {
		display: none;
	}

	.nav{
		padding: 0 !important;
		line-height:80px;
	}

	.nav > ul{
		height:80px;
		background: none;
		border-bottom:none;
	}
	.nav ul ul {
		background: #333;
	}

	.nav > ul > li {
		border-top: none;
	}

	.nav ul ul ul li:first-child {
		border-top: none;
	}

	.nav .nav-submenu li {
		min-width: 100%;
	}

	.nav .nav-submenu > ul {
		margin: 0;
	}

	.nav > ul > .nav-submenu > a:after {
		content: "\E005";
	}

	.nav .nav-submenu > a:after {
		content: "\E006";
	}

}

